.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, .8),
        rgba($color-primary-dark, .8)),
     url(../images/pexels-merry-zar-2306359.jpg);
     background-size: cover;
     background-position: top;
     position: relative;
     margin-left: 3rem;
     margin-right: 3rem;

    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

    &__text-box {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%); 
        text-align: center;
    }

    &__text-box img {
        padding: .5rem;
    }

    &__text-box img:hover{
        transform: rotate(30deg);
        transition-duration: .4s;
    }
}

.github-animated {
    display: inline-block;
    animation: moveInBottom .5s ease-out .25s;
    animation-fill-mode: backwards;
}

.linkedin-animated {
    display: inline-block;
    animation: moveInBottom .5s ease-out .5s;
    animation-fill-mode: backwards;
}

.twitter-animated {
    display: inline-block;
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}