.section-about {
    background-color: $color-grey-light-1;
    padding: 35rem 0;
    margin-top: -35vh;
}

.section-projects {
    // height: 200vh;
    padding: 20rem 0; //200 padding with 0 left and right
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, .2), 
        rgba($color-primary-dark, .2)), 
    url(../images/skyscraper.jpg);
    background-size: cover;
    transform: skewY(-7deg);
    margin-top: -10rem;
    margin-left: 3rem;
    margin-right: 3rem;

    //target direct children
    & > * {
        transform: skewY(7deg);
    }
}